/* ==========================================================================
   Base Form Styles
   ========================================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		display: block;
		box-sizing: border-box;
		margin: 0;
		margin-bottom: 20px;
		padding: 6px 6px;
		max-width: 100%;
		width: 100%;
		outline: none;
		border: 1px solid #ccc;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background: #fff;
		color: #777;
		font-family: sans-serif;
		cursor: pointer; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2);
 		color: #444;
		cursor:auto; }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		cursor:pointer;
	}
	select {
		font: -webkit-small-control;
		-webkit-appearance: menulist;
		-webkit-appearance: menulist-button;
		}
	select:focus {cursor:auto;}
	input[type="checkbox"] {
		display: inline;cursor:pointer; }
	label span,
	legend span {
		color: #444;
		font-weight: normal; }

@media only screen and (min-width: 480px) {
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		width: 210px;
	}
}
